/* styling for Bids and History */
.containerBH {
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.BHwidth {
  width: 604px;
}
.BidHistoryHeader {
  height: 64px;
  background: #0e1e45;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 28px;
  gap: 18px;
  font-family: 'Noto Sans JP';
}

.BHTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.BHArrow {
  margin-left: auto;
}

/* styling for more works */
.moreWorksContainer {
  margin-top: 160px;
}
.moreWorksHeaderContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1232px;
}
.moreWorksHeader {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  font-family: 'Noto Sans JP';
}
.moreWorksBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 64px;
  background: #1f75ff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.moreWorks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

/* styling of Stay in the loop */
.userEmailContainer {
  background: #003385;
  border-radius: 8px;
  width: 1232px;
  height: 456px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  text-align: center;
}
.userEmailHeader {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  width: 700px;
  height: 128px;
  margin-top: 80px;
  font-family: 'Noto Sans JP';
}
.userEmaildec {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 24px;
  width: 816px;
  height: 56px;
}
.userEmailContact {
  display: flex;
  margin-top: 32px;
  gap: 16px;
}
.userEmailInput {
  border: 1px solid #0047b8;
  border-radius: 8px;
  background: #0e1e45;
  width: 513px;
  height: 56px;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding: 0 16px;
  color: #cccccc;
}
.userEmailInput::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #cccccc;
}
.userEmailBtn {
  background: #1f75ff;
  border-radius: 8px;
  width: 143px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
